/* Changeable elements
--------------------------------------------------------*/
 body {
    /* padding-top:100px; Change for fixed width header */
    /*padding-top:50px;*/
}
footer {
    margin-top: 15px;
}
.heading {
    margin-bottom: 15px;
}
/* Hacks
--------------------------------------------------------*/
 .clearfix:before, .clearfix:after {
    content:"";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Navbar 
--------------------------------------------------------*/
 .navbar {
    position: relative;
    z-index: 1000;
    min-height: 30px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid transparent;
}
.navbar-brand {
    float: left;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    font-weight: bold;
}
.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}
@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-left: -15px;
    }
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}
.nav > li.disabled > a {
    color: #999999;
}
.nav > li > a > img {
    max-width: none;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: #777777;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-default .navbar-text {
    color: #777777;
}
.navbar-default .navbar-nav > li > a {
    color: #777777;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333333;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}
.navbar-default .navbar-link {
    color: #777777;
}
.navbar-default .navbar-link:hover {
    color: #333333;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    border-width: 0 0 1px;
}
.navbar-nav {
    margin: 7.5px -15px;
}
.navbar-nav > li > a {
    line-height: 20px;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
@media (max-width: 768px) {
    body {
        padding-top:140px;
    }
}
/* Footer
---------------------------------------*/
 footer {
    color: #333333;
    background-color: #eeeeee;
    border-top:1px solid #e7e7e7;
}

/* Grid Layout
---------------------------------------*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}



@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
    .col {
        float: left;
    }
    .col-1 {
        width: 8.333333333333332%;
    }
    .col-2 {
        width: 16.666666666666664%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33333333333333%;
    }
    .col-5 {
        width: 41.66666666666667%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.333333333333336%;
    }
    .col-8 {
        width: 66.66666666666666%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33333333333334%;
    }
    .col-11 {
        width: 91.66666666666666%;
    }
    .col-12 {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}