.nav-container {
    list-style-type: none;
    text-align: right;
    border-right: 1px solid black;
    padding: 5px 0;
}

.nav-container a {
    display: block;
    padding: 5px;
    background-color: white;
    text-decoration: none;
    -webkit-transition:  margin-right .5s, background-color 1s, color 1s;
    -moz-transition:     margin-right .5s, background-color 1s, color 1s;
    transition:          margin-right .5s, background-color 1s, color 1s;
    -o-transition:       margin-right .5s, background-color 1s, color 1s;
}


.nav-container a.active {
    margin-right: -5px;
    background-color: black;
    color: white;
    
}

.box-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5px;
    border:1px solid #ddd;
    
}

.box.active {
    background-color: yellow;
}

.box {
    margin: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    background-color: #eee;
    -webkit-transition: top 1s, left 1s;
    -moz-transition: top 1s, left 1s;
    transition: top 1s, left 1s;
    -o-transition: top 1s, left 1s;
}

.box:nth-child(odd) {
    top: 100px;
}
.box:nth-child(even) {
    left: 100px;
}
.box.active {
    top: 0;
    left: 0;
}