a {
    display:block;
    text-align: center;
    padding:5px;
    text-decoration: none;
    color: black;
    background-color: #eee;
}

.active a, .box.active {
    background-color: yellow;
}
.nav-container, .box-container {
    position: relative;
    width: 100px;
    margin: 5px auto;
    border:1px solid #ddd;
    
}
.box-container {
    height: 100px;
}
.box {
    margin: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    background-color: #eee;
    -webkit-transition: top 1s, left 1s;
    -moz-transition: top 1s, left 1s;
    transition: top 1s, left 1s;
    -o-transition: top 1s, left 1s;
}
.box:nth-child(odd) {
    top: 100px;
}
.box:nth-child(even) {
    left: 100px;
}
.box.active {
    top: 0;
    left: 0;
}